<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<title>2018年秋季招新 - 华南理工大学微软学生俱乐部</title>
	<link rel="shortcut icon" href="../static/pictures/icon.png">
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static/css/competition.css">
</head>

<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false">
					<span class="sr-only"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<span class="navbar-brand">华工微软俱乐部</span>
			</div>

			<div class="collapse navbar-collapse" id="menu">
				<ul class="nav navbar-nav navbar-right">
						<li><a href="/">南校申请表</a></li>
						<li><a href="recruit_north">北校申请表</a></li>
					<li><a href="arrangement">面试安排</a></li>
					<li><a href="result">结果查询</a></li>
				</ul>
			</div>
		</div>
    </nav>


    <div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title text-center" id="page-title">部门介绍</h3>
			</div>
			<div class="modal-body">
                
                <div class="subtitle subtitle-intro">微软学生俱乐部</div>
                    <p><img src = "../static/pictures/icon.png" alt  = "图挂了" height="18px" width="18px" align="bottom">
                        &nbsp;华南理工大学微软学生俱乐部（SCUTMSC）是微软亚洲研究院(MSRA)和华南理工大学联合创办的学术性校级社团，以学术讲座、技术沙龙、大型比赛等形式，通过举办Beauty of Programing、Microsoft Imagine Cup，编程一小时，Hackthon，Seedcoder等全球学生科技大赛予力众生，成就非凡。
                    </p>
                    <p><img src = "../static/pictures/icon.png" alt  = "图挂了" height="18px" width="18px" align="bottom">
                        &nbsp;华工微软学生俱乐部期待热爱技术、勇于创新、乐于分享、信奉互联网开放共享精神、积极帮助他人的每一位学生的加入，并不仅仅局限于技术类背景的学生。
                    </p>
                    <p><img src = "../static/pictures/icon.png" alt  = "图挂了" height="18px" width="18px" align="bottom">
                        &nbsp;加入我们不仅有机会参加微软夏令营，更能与MSRA的大牛工程师面对面交流切磋，拿到MSRA的实习offer！加入我们，来一起让美好的事情在明天发生！
                    </p>

                <div class="subtitle subtitle-intro">五山 · 技术部</div>
                    <p><img src = "../static/pictures/icon.png" alt  = "图挂了" height="18px" width="18px" align="bottom">
                        &nbsp;主要工作是开发，包括前端、后端、移动端等
                    </p>

                <div class="subtitle subtitle-intro">五山 · 运营部</div>
                    <p><img src = "../static/pictures/icon.png" alt  = "图挂了" height="18px" width="18px" align="bottom">
                        &nbsp;包括组织策划、宣传、产品经理等职能小组
                    </p>

                <div class="subtitle subtitle-intro">五山 · 外联部</div>
                    <p><img src = "../static/pictures/icon.png" alt  = "图挂了" height="18px" width="18px" align="bottom">
                        &nbsp;主要负责拉赞助、公关、与学校、企业沟通、谈判等
                    </p>

                <div class="subtitle subtitle-intro">大学城 · 传媒部</div>
                    <p><img src = "../static/pictures/icon.png" alt  = "图挂了" height="18px" width="18px" align="bottom">
                        &nbsp;号称文化部门里最有技术的，技术部门里最有文化的部门
                    </p>
                    <p><img src = "../static/pictures/icon.png" alt  = "图挂了" height="18px" width="18px" align="bottom">
                        &nbsp;有丰富的教程资料，不定期培训，还有数位板免费提供！
                    </p>
                    <p><img src = "../static/pictures/icon.png" alt  = "图挂了" height="18px" width="18px" align="bottom">
                        &nbsp;ps制作海报，pr做视频后期，用sai摸鱼...
                    </p>
                    <p><img src = "../static/pictures/icon.png" alt  = "图挂了" height="18px" width="18px" align="bottom">
                        &nbsp;来我们传媒部就没错啦
                    </p>
                    <p><img src = "../static/pictures/icon.png" alt  = "图挂了" height="18px" width="18px" align="bottom">
                        &nbsp;不论你是初出茅庐的入门小白，渴望get技能点
                    </p>
                    <p><img src = "../static/pictures/icon.png" alt  = "图挂了" height="18px" width="18px" align="bottom">
                        &nbsp;还是久经沙场的老刀手，剑指江湖，意气风发
                    </p>
                    <p><img src = "../static/pictures/icon.png" alt  = "图挂了" height="18px" width="18px" align="bottom">
                        &nbsp;只要你有激情，只要你有想法
                    </p>
                    <p><img src = "../static/pictures/icon.png" alt  = "图挂了" height="18px" width="18px" align="bottom">
                        &nbsp;传媒部会给你提供最大的舞台，让你一展锋芒！
                    </p>
                    <p><img src = "../static/pictures/icon.png" alt  = "图挂了" height="18px" width="18px" align="bottom">
                        &nbsp;当然出游聚会狼人杀什么的，超！级！好！玩！啊！
                    </p>

                <div class="subtitle subtitle-intro">大学城 · 策推部</div>
                    <p><img src = "../static/pictures/icon.png" alt  = "图挂了" height="18px" width="18px" align="bottom">
                        &nbsp;这里是俱乐部的“大脑”，我们负责俱乐部日常活动和品牌推广的策划，联通俱乐部上下，掌握一手资源。如果你对组织管理感兴趣，如果你有源源不断的清奇脑洞，如果你想体验运筹帷幄的感觉，请快快加入我们！更有各种节日福利，学习资料，聚会开黑等你哦！
                    </p>

                    <div class="subtitle subtitle-intro">大学城 · 公关部</div>
                    <p><img src = "../static/pictures/icon.png" alt  = "图挂了" height="18px" width="18px" align="bottom">
                        &nbsp;公关部就是拉赞助的？错！！！
                    </p>
                    <p><img src = "../static/pictures/icon.png" alt  = "图挂了" height="18px" width="18px" align="bottom">
                        &nbsp;拉赞助的确是我们的主要工作之一。但是我们还需要Hold住俱乐部对外的相关事务，包括与企业谈合作、为大型活动拉赞助，还有与其他高校微软俱乐部或兄弟俱乐部的联系交流。在这里你可以有机会与真正的大佬接触，体验与公司企业打交道的感觉，广交其他高校的小伙伴不在话下~我们日常霸占微软俱乐部各活动的主持人名单，每个部员都有担任主持人的机会，只要你心够大，微软的大小舞台都是你哒！拉得了赞助，主得了持，码得了文，守得住节操，飚得起车，公关部值得你pick！
                    </p>
                    <p><img src = "../static/pictures/icon.png" alt  = "图挂了" height="18px" width="18px" align="bottom">
                        &nbsp;需要舞台展示才华、锻炼能力？希望认识更多有趣的小伙伴？同学，好胆你就麦造，公关C位等你出道！
                    </p>

                <div class="subtitle subtitle-intro">大学城 · 文交部</div>
                    <p><img src = "../static/pictures/icon.png" alt  = "图挂了" height="18px" width="18px" align="bottom">
                        &nbsp;想要看好看的小姐姐和贤惠（？）的小哥哥们么~快来文化交流部~ 
                    </p>
                    <p><img src = "../static/pictures/icon.png" alt  = "图挂了" height="18px" width="18px" align="bottom">
                        &nbsp;我们负责整个俱乐部科学文化事业发展，致力于增强俱乐部内部人员沟通交流，让大家都感受到微软文化的魅力。具体来说，我们负责组织开展俱乐部全员大会，集体出游，文化展示等有趣的活动。微软俱乐部大家庭的内部建设就要靠我们的力量，所以喜欢玩喜欢嗨喜欢一起搞事情的小伙伴们，微软文交部就是你的最佳选择！
                    </p>
                    <p><img src = "../static/pictures/icon.png" alt  = "图挂了" height="18px" width="18px" align="bottom">
                        &nbsp;你知道我们文交部最大的缺点是什么吗？就是缺点你！
                    </p>

                <div class="subtitle subtitle-intro">大学城 · 技术部</div>
                    <p><img src = "../static/pictures/icon.png" alt  = "图挂了" height="18px" width="18px" align="bottom">
                        &nbsp;我们是俱乐部成员中最广泛的部门，主要负责吹水(雾)，兼有技术交流与讨论、知识讲座等工作;另有外包公司及项目工作可供参加，在产品总监的带领下一起开发俱乐部项目或接受外包项目。我们欢迎对web、用户界面设计等有兴趣的小伙伴参与到俱乐部网站建设工作中来，体验从无到有的成就感~随时与大佬组队蛤客松(Hackathon)走一波;也可以一起参加“微软校园菁英计划”、“编程之美”、“A++”等微软系列活动，吃喝玩乐中大奖拿回家!技术部热烈欢迎有实力的、爱学习的你加入我们，一起在张弛有度的俱乐部生活中共同成长!
                    </p>

			</div>
		</div>
	</div>

    
    <div class="copyright">© 2018 MSC, SCUT<br>Maintainer: Ruihang Xia <br> Frontend by God Xie</div>

	<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>